.card__box {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  gap: 40px;
}
.card__item:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.card__item {
  height: 250px;
  width: 300px;
  border-radius: 10px;
  background-color: rgb(212, 210, 208);
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.card__item img {
  height: 150px;
  width: 280px;
  border-radius: 10px;
}

@media screen and (max-width: 780px) {
  .card__box {
    grid-template-columns: auto;
  }
}
