* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right top, #32568c, #3161a3, #2d6dba, #2479d2, #1285eb);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  color: rgb(160, 29, 29);
}
