* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right top, #526683, #4b688f, #436b9b, #376da7, #2470b3);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  color: rgb(160, 29, 29);
}
