* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 243, 252);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  color: rgb(160, 29, 29);
}
